@import "tailwindcss";

@theme inline {
  --color-background: #ffffff;
  --color-foreground: #333431;
  --color-primary: #F7CD46;
  --font-sans: var(--font-inter);
  --font-heading: var(--font-outfit);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6, .font-heading {
  font-family: var(--font-heading), sans-serif;
}
